<footer role="contentinfo">
    <div class="inner">
        <div class="vcard">
            <a href="/rss/" id="btn_feed" class="btn" title="Feed">
                <span aria-hidden="true" data-icon=")"></span>
                <strong>Feed</strong>
            </a>

            <div class="details">
                <h4><a href="/" class="url n">{{@blog.title}}</a></h4>
                info &#64; iyware.com<br>
                <span>&copy; <a href="/" class="js-remove-domain-schema">/</a></span>
            </div>
        </div>
        <div id="user_bio">
            <div class="inner">
                {{!-- TODO: Parse HTML for links --}}
            </div>
        </div>
    </div>
</footer>