{{!< default}}

<header role="banner">

    <div class="wrap">
		<img src="{{@blog.cover}}" alt="{{@blog.title}}" />
        <h1>{{@blog.title}}</h1>
		<hr>
    </div>
</header>

{{> "loop"}}

{{> "footer"}}