{{!< default}}

<header role="banner">
    <div class="wrap">
        <h1><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a></h1>
    </div>
</header>

{{> "loop"}}

{{> "footer"}}