{{!< default}}

{{#post}}

    {{#if image}}
        <div id="feature_image">
            <div class="inner" style="background-image: url('{{image}}')">
                <img src="{{image}}">
            </div>
        </div>
    {{/if}}

    <article role="main" class="{{#if image}}image{{/if}}">

        <header class="group">
            <a href="/" id="home_link">«</a>
            <div class="hgroup">
            	<h1>{{title}}</h1>
			</div>
        </header>


        <div class="text">
            {{content}}
        </div>

    </article>

{{/post}}

{{> "footer"}}